@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(var(--heroui-background));
  color: hsl(var(--heroui-foreground));
}

#root {
  min-height: calc(100vh - 64px);
}
